fastapi
uvicorn
sqlalchemy
asyncpg
pgvector
pydantic
pydantic-settings
python-dotenv
streamlit
pandas
xlsxwriter
requests
google-generativeai
langchain
langchain-google-genai
langchain-huggingface
qdrant-client
twilio
rank-bm25
nltk